# Network:		{{ .Subnet}}/{{ .Netmask }}
# Domain name:		{{ .DHCP.DomainName }}
# Name servers:		{{ .NameserversString }}
# Default router:	{{ .Router }}
# Addresses:		{{ .DHCP.Start }} - {{ .DHCP.End }}

option  domain-name "{{ .DHCP.DomainName }}";
option  domain-name-servers {{ .NameserversString }};

subnet {{ .Subnet }} netmask {{ .Netmask }} {
	option routers {{ .Router }};
	range {{ .DHCP.Start }} {{ .DHCP.End }};
}

{{ range .DHCP.Assignments }}
host {{ .Name }} {
     hardware ethernet {{ .Mac }}
     fixed-address {{ .Address }}
     option host-name {{ .Name }}
}
{{ end }}