# Network:		{{ .Subnet}}/{{ .Netmask }}
# Domain name:		{{ .DomainName }}
# Name servers:		{{ .NameserversString }}
# Default router:	{{ .Router }}
# Addresses:		{{ .DHCPStart }} - {{ .DHCPEnd }}

option  domain-name "{{ .DomainName }}";
option  domain-name-servers {{ .NameserversString }};

subnet {{ .Subnet }} netmask {{ .Netmask }} {
	option routers {{ .Router }};
	range {{ .DHCPStart }} {{ .DHCPEnd }};
}
